@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

body {
  background: #ffffff;
  color:#000000;
  font-family:Roboto;
}

h1 {
  font-weight:900;
  font-size:40pt;
  color:#000000;
}

p{
  font-weight:300;
  font-size:15pt;
}

.temp_title {position:absolute;
	top:25%;
	width:100%;
	height:300px;
	text-align:center;
	margin:0;}

.temp_logo {width:100%; 
	    height:auto; 
	    display:flex; 
	    flex-direction:column; 
	    align-item:center; 
	    justify-content:center; 
	    position:center;}
      
.img {max-width:100%;
      margin:0 auto;
      height:auto;}
