@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap:100,300,400,500,700,900);

body {
  background: #ffffff;
}

h1 {
  color: #000000;
  font-family: Roboto;
  font-weight: 900;
  font-size: 40pt;
}

h2 {
  color: #009d92;
  font-family: Pacifico;
  font-weight: 500;
  font-size: 60pt;
}

p {
  color: #000000;
  font-family: Roboto;
  font-weight: 300;
  font-size: 20pt;
}

.temp_title {
  position: absolute;
  top: 25%;
  width: 100%;
  height: 300px;
  text-align: center;
  margin: 0;
}

